body {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 5px 40px 0;
    cursor: pointer;
  }

  .btn1 {
    background-color: #4CAF50;
    transition: 0.3s;
  }

  .btn2 {
    background-color: #009999;
    transition: 0.3s;
  }

  .btn3 {
    background-color: #9966ff;
    transition: 0.3s;
  }

  .btn1:hover{
    background-color: #006600;
  }

  .btn2:hover{
    background-color: #003366;
  }

  .btn3:hover{
    background-color: #6600cc;
  }